.form-container {
  background-color: black;
  color: white;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.form-title {
  color: white;
}

.messages-container {
  margin: 20px;
  max-width: 600px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 400px;
}

.message-content {
  display: flex;
  width: 80%;
  padding-left: 20px;
}

.message {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid black;
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.4;
}

.support-message {
  background-color: #dedcdc;
}

.user-message {
  justify-content: flex-end;
}

.messages-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.message-form {
  display: flex;
  margin-top: 20px;
  height: 15%;
}
.message-wrapper{
  box-sizing: border-box;
  background-color: white !important;
  width: 100%;
  height: 100%;
}
.message-input {
  padding: 5px;
  border-radius: 3px;
  font-size: 15px;
}
.btn-submit {
  width: 15%;
  height: 70%;
}

.btn-submit:disabled {
  background-color: #b8b7b7;
  color: #efe7e7;
  cursor: not-allowed;
}


.btn-close {
  background-color: black;
  color: #cdc9c9;
}

.btn-icon {
  color: #cdc9c9;
  margin-top: 20px;
}

.user-title {
  font-size: 18px;
  font-weight: bold;
}

.user-item {
  width: 90%;
  margin-left: 5px;
  display: flex;
  background-color: #fdfbfb;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  align-items: center;
}

.btn-count {
  display: inline-block;
  border-radius: 100%;
  width: 15%;
  height: 15%;
  background-color: #2b2bea;
  color: #f9f9f9;
}
.chat {
  display: flex;
}
.support-modal{
  width: 200px;
  position: sticky;
  top: 0;
  left: 0;
}
.wrapper{
  display: flex;
}
.message-list{
  width: 300px;
}

